body {
    background-color: rgba(0, 162, 255, 0.247);
}

div {
    width: auto;
    margin: auto;
}

input {
    margin: 5px;
    border: 1px solid #3e8fbe;
    border-radius: 8px;
}

label {
    margin: 5px;
}

div.inputWrapper {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.034);
    margin-top: 10px;
}

div.wrapper {
    width: max-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.041);
}

div.pageWrapper {
    width: 0%;
    margin: 0 auto;
}